{% extends "layout.njk" %}

{% block content %}

<div class="teacherInfo table_container">
    <div id="filter_header">
        <a class="newCreated" href="/students/register">Novo</a>
        <form action="/students/" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Nome"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table width=100%>
        <thead>
            <tr>
                <th>Nome Completo</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
                <tr>
                    <td>
                        <span style="background-image: url({{student.avatar_url}})"></span>
                        {{student.name}}
                    </td>
                    <td><a href="/students/{{student.id}}">Visualizar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination"
        data-page = {{pagination.page}}
        data-total = {{pagination.total}}
        data-filter = {{filter}}
    ></div>
</div>
{% endblock content %}