{% extends "layout.njk" %}

{% block content %}

<div class="teacherInfo">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/400x800) no-repeat center center / cover"></section>

    <section class="details">
        <h3>Detalhes</h3>

        <div class="info">
            <div>Nome</div>
            <div>Samuel Costa</div>
        </div>

        <div class="info">
            <div>Idade</div>
            <div>23 anos</div>
        </div>

        <div class="info">
            <div>Grau de Escolaridade</div>
            <div>Mestrado</div>
        </div>

        <div class="info">
            <div>Tipo de Aula</div>
            <span>Matemática</span>
            <span>Fisica</span>
        </div>

        <div class="info">
            <div>Desde</div>
            <div>02/04/2017</div>
        </div>
        
    </section>
</div>
{% endblock content %}