{% extends "layout.njk" %}

{% block content %}

<div class="teacherInfo">
    <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>

    <section class="details">
        <h3>Professor</h3>

        <div class="info">
            <div>Nome</div>
            <div>{{teacher.name}}</div>
        </div>

        <div class="info">
            <div>Idade</div>
            <div>{{teacher.age}}</div>
        </div>

        <div class="info">
            <div>Grau de Escolaridade</div>
            <div>{{teacher.education_level}}</div>
        </div>

        <div class="info">
            <div>Tipo de Curso</div>
            <span>{{teacher.class_type}}</span>
        </div>

        <div class="info">
            <div>Tipo de Aula</div>
            {% for sub in teacher.subjects_taught %}
                <span>{{sub}}</span>
            {% endfor %}
        </div>

        <div class="info">
            <div>Desde</div>
            <div>{{teacher.created_at}}</div>
        </div>

        <div class="buttons">
            <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>
        
            <form id="form_delete" action="/teachers?_method=DELETE" method="post">
                <input type="hidden" name="id" value={{teacher.id}}>
                <button class="buttons" type=submit>Deletar</button>
            </form>
        </div>
        
    </section>
</div>
{% endblock content %}