{% extends "layout.njk" %}

{% block img %}
    <img src="{{dataAbout.img}}" alt="Logo da {{dataAbout.name}}">
    <h1>{{dataAbout.name}}</h1>
{% endblock img %}

{% block content %}
<div id="about">
    <br>
    <h2>{{dataAbout.title}}</h2>
    <p>{{dataAbout.description1}}</p>
    <br>
    <p>{{dataAbout.description2}}</p>
    <br>
    <p>{{dataAbout.description3}}</p>
</div>

<div id="list">
    <div>
        <h2>Domine a linguagem de programação</h2>
        <p class="js"><img class="{{dataAbout.js.class}}" src="{{dataAbout.js.img}}" alt="Logo {{dataAbout.js.name}}">{{dataAbout.js.name}}</p>
        <p><img class="{{dataAbout.jses6.class}}" src="{{dataAbout.jses6.img}}" alt="Logo {{dataAbout.jses6.name}}">{{dataAbout.jses6.name}}</p>
    </div>
    <div>
        <h2>Domine a stack</h2>
        {%for item in dataAbout.listStack%}
        <p><img id="{{item.id}}" src="{{item.img}}" alt="Logo do {{item.name}}">{{item.name}}</p>
        {%endfor%}
    </div>
</div>

{% endblock content %}