{% extends "layout.njk" %}

{% block icon %}
<link href="{{dataCourses.icon}}" rel="stylesheet">
{% endblock icon %}

{% block content %}
<h1 id="content">{{dataCourses.title}}</h1>

<section id="courses">
    {%for course in dataCourses.courses%}
        <div class="course" id="{{course.id}}">
            <div class="course_img">
                <img src="{{course.img}}" alt="Logo {{course.id}}">
            </div>
            <div class="course_content">
                <p>{{course.description}}</p>
            </div>
        </div>
    {%endfor%}
</section>

{% endblock content %}