<!DOCTYPE html>
<html>
    <head>
        <title>Rocketseat</title>
        <link rel="icon" href="./public/_icon/favicon.ico" />
        <link rel="stylesheet" href="styles.css">
        {% block icon %}
        {% endblock icon %}
    </head>

    <body>
        <header id="about_wrapper">
            <div id="wrapper">
                <a href="-">Inicio</a>
                <a href="/">Sobre</a>
                <a href="/courses">Conteúdos</a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
            </div>
            {% block img %}
                
            {% endblock img %}
        </header>

        {% block content %}

        {% endblock content %}


        <div id="links">
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
        </div>

        <script src="scripts.js"></script>
    </body>
</html>