@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');

:root {
    --primary-color: rgb(252, 214, 242);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FF5C4E;
}

#wrapper {
    background-color: white;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
}

#wrapper a {
    color: #444444;
    text-decoration: none;
    position: relative;
}

#wrapper a + a {
    margin-left: 32px;
}

#wrapper a.active {
    font-weight: bold;
    color: #FF5C4E;
}

#wrapper a:hover {
    color: rgb(250, 117, 104);
}

#wrapper a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(255, 100, 86);
    position: absolute;
    left: 0;
    bottom: 0;
}

#wrapper a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

.teacherInfo {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details h3 {
    text-align: center;
    font-size: 18px;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
}

.details .info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .info:last-child {
    border: none;
}


.details .info div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .info div:nth-child(2) {
    color: #111111;
}

.details .info span {
    padding: 8px 18px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: rgb(83, 83, 83);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px ;
}

input {
    width: 100%;
    outline: none;
    color: #777777;
    font-size: 14px;
    font-weight: bold;
}

input[type="radio"] {
    width: initial;
    margin-right: 8px;
}

input::placeholder {
    font-weight: normal;
}

button[type="submit"] {
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}